<header class="d-flex justify-content-center align-items-center">
     <h1 class="display-4"> <strong>
        <%= @inventory.name %>
     </strong></h1>
</header>

<div class="d-flex justify-content-end mt-4 mb-4 border-bottom border-secordary border-3 ">
    <%= button_to "Add Food", new_inventory_food_path(inventory_id: @inventory.id), class: "btn btn-primary mb-4", method: :get %>
</div>

<article>
    <table class="table mb-4 table-striped table-bordered">
        <thead>
            <tr>
            <th scope="col">Serial#</th>
            <th scope="col">Food</th>
            <th scope="col">Quantity</th>
            <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            
            <% @inventory.inventory_foods.each_with_index do |inventory_food, i| %> 
                <tr>
                    <td><%= i+ 1%></td>  
                    <td><%= inventory_food.food.name %></td> 
                    <td><%= inventory_food.quantity %></td> 
                    <td>
                        <% if can? :manage, @inventory %>
                            <%= button_to "Remove", inventory_path(inventory_id: @inventory.id, food_id: inventory_food.food.id ), class: "btn btn-danger mb-4", method: :delete%>
                        <% else %>
                            <%= button_to "Inactive", inventory_path(inventory_id: @inventory.id, food_id: inventory_food.food.id ), class: "btn btn-secondary disabled mb-4", method: :delete%>
                        <% end %>
                    </td> 
                </tr>
            <% end %>
            
        </tbody>
    </table>
</article>